@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');


body {
    background-color: #f2f7f7;
    font-family: 'Poppins', sans-serif;
}

.shadow-1 {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.card {
    border: none;
	border-radius: 5px;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    font-size: 22px;
}

.my-float{
	margin-top:22px;
}